/* navigation */
#navbar{
  flex-direction: column;
 justify-content: center;
 align-items: center;
    
}
#navbar ul li a{
    font-size: 1rem;
  
    
}
#logo {
    margin: 1px 269px;
    border-radius: 5px;
}
/* home section */
#home{

    height: 380px;
    padding: 51px 75px;
}
#home::before{

    height: 480px;
 

}
#home p{
    font-size: 13px;
}

/* services section */

#services{
    flex-direction: column;
  
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* client section */
#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 66px;
    padding:2px 6px;
    height: auto;
}


/* contact section */
#contact-box form{
    width: 80%;
}

/* footer */


/* uitility class */
.h-primary{
    font-size:27px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}